@import "../../assets/colors";

.currency-converter {
  &-amount {
    display: flex;
    align-items: center;
    margin: 0.3em 0 1.3em;
    label {
      margin-right: 10px;
      color : $theme-primary;
    }

    input {
      width: 100px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    padding: 0.8em 1.2em;
    border: 1px solid $theme-line-gray;
    border-radius: 4px;
    margin: 0 0.2em 0.6em;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;

    &-amount {
      width: 80px;
      margin-right: 0.3em ;
    }

    &-base {
      display: flex;
      align-items: center;
      color : $theme-secondary
    }

    &-target {
      display: flex;
      align-items: center;
      color : $theme-secondary-alt;
    }

    &-swap-icon {
      color :$theme-primary;
      font-size: 1.6em;
      cursor: pointer;
    }
  }
}