$theme-text : #333;
$theme-primary : #029c34;
$theme-secondary : #fc7f03;
$theme-secondary-alt : #034efc;
$theme-line-gray : #ccc;
$theme-input-focus : #2684ff;
$theme-error-text : #b32020;
$theme-error-border : #ffa8b4;
$theme-error-background : #fad9de;

